.body {
    background-color: rgb(212, 232, 240);
}

h1, h2, h3,h4 {
    margin: 40px;
}

.button {
    margin: 20px;
}

.form-group {
    margin-top: 20px;
}
.formDelete{
    margin-bottom: 80px;
}

.endereco input {
    margin: 20px 0 0 0;
}

.telefone input {
    margin: 20px 0 0 0;
}

.header img{
    margin: 10px 10px 10px 200px;

}
.ul{
    margin-left:  40px ;
}
footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

footer h5{
    padding-top: 20px;
}